In [1]:
# Data acquisition 

# Find all files in each folder that have .csv extension and use pandas concat
import os
import pandas as pd

data_main_folders = ['2019','2020','2021', '2022', '2023', '2024', '2025']
months = [f'{i:02d}' for i in range(1, 13)]
# Sub folder example: 2021/202101, 2021/202102, ..., 2021/202112
# Fixed the path construction to match actual folder structure
sub_folders = [f'./datasets/{folder}/{folder}{month}' for folder in data_main_folders for month in months]

print("Looking for files in these paths:")
for folder in sub_folders[:5]:  # Show first 5 paths as example
    print(f"  {folder}/CPY015.csv")
print("  ...")

# Read and concat all csv files with name "CPY015.csv" in each sub folder using pandas
master_out = 'master_CPY015.csv'
files_found = 0
dataframes = []

for sub_folder in sub_folders:
    file_path = f'{sub_folder}/CPY015.csv'
    if os.path.exists(file_path):
        files_found += 1
        print(f"Processing: {file_path}")
        try:
            # Read CSV file into DataFrame
            df = pd.read_csv(file_path)
            dataframes.append(df)
            print(f"  Added {len(df)} rows")
        except Exception as e:
            print(f"  Error reading file: {e}")
    else:
        print(f"File not found: {file_path}")

# Concatenate all DataFrames
if dataframes:
    master_df = pd.concat(dataframes, ignore_index=True)
    
    # Save to CSV
    master_df.to_csv(master_out, index=False)
    
    print(f"\nSummary:")
    print(f"Files found and processed: {files_found}")
    print(f"Total data rows in master file: {len(master_df)}")
    print(f"Total columns: {len(master_df.columns)}")
    print(f"Output file: {master_out}")
    print(f"Data shape: {master_df.shape}")
    
    # Display first few rows and basic info
    print(f"\nFirst 5 rows:")
    print(master_df.head())
    print(f"\nColumn names:")
    print(master_df.columns.tolist())
else:
    print("No data files found to concatenate!")

Looking for files in these paths:
  ./datasets/2019/201901/CPY015.csv
  ./datasets/2019/201902/CPY015.csv
  ./datasets/2019/201903/CPY015.csv
  ./datasets/2019/201904/CPY015.csv
  ./datasets/2019/201905/CPY015.csv
  ...
Processing: ./datasets/2019/201901/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2019/201902/CPY015.csv
  Added 4032 rows
Processing: ./datasets/2019/201903/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2019/201904/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2019/201905/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2019/201906/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2019/201907/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2019/201908/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2019/201909/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2019/201910/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2019/201911/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2019/201912/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202001/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202002/CPY015.csv
  Added 4176 rows
Processing: ./datasets/2020/202003/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202004/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2020/202005/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202006/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2020/202007/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202008/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202009/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2020/202010/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2020/202011/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2020/202012/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202101/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202102/CPY015.csv
  Added 4032 rows
Processing: ./datasets/2021/202103/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202104/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2021/202105/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202106/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2021/202107/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202108/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202109/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2021/202110/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2021/202111/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2021/202112/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202201/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202202/CPY015.csv
  Added 4032 rows
Processing: ./datasets/2022/202203/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202204/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2022/202205/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202206/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2022/202207/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202208/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202209/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2022/202210/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2022/202211/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2022/202212/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202301/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202302/CPY015.csv
  Added 4032 rows
Processing: ./datasets/2023/202303/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202304/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2023/202305/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202306/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2023/202307/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202308/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202309/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2023/202310/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2023/202311/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2023/202312/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202401/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202402/CPY015.csv
  Added 4176 rows
Processing: ./datasets/2024/202403/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202404/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2024/202405/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202406/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2024/202407/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202408/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202409/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2024/202410/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2024/202411/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2024/202412/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2025/202501/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2025/202502/CPY015.csv
  Added 4032 rows
Processing: ./datasets/2025/202503/CPY015.csv
  Added 4464 rows
Processing: ./datasets/2025/202504/CPY015.csv
  Added 4320 rows
Processing: ./datasets/2025/202505/CPY015.csv
  Added 4464 rows
File not found: ./datasets/2025/202506/CPY015.csv
File not found: ./datasets/2025/202507/CPY015.csv
File not found: ./datasets/2025/202508/CPY015.csv
File not found: ./datasets/2025/202509/CPY015.csv
File not found: ./datasets/2025/202510/CPY015.csv
File not found: ./datasets/2025/202511/CPY015.csv
File not found: ./datasets/2025/202512/CPY015.csv

Summary:
Files found and processed: 77
Total data rows in master file: 337392
Total columns: 7
Output file: master_CPY015.csv
Data shape: (337392, 7)

First 5 rows:
         date      time water_lv station_code measure_datetime  water_level  \
0  2019-01-01  00:00:00     0.59          NaN              NaN          NaN
1  2019-01-01  00:10:00     0.59          NaN              NaN          NaN
2  2019-01-01  00:20:00     0.61          NaN              NaN          NaN
3  2019-01-01  00:30:00     0.63          NaN              NaN          NaN
4  2019-01-01  00:40:00     0.65          NaN              NaN          NaN

  quality_flag
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

Column names:
['date', 'time', 'water_lv', 'station_code', 'measure_datetime', 'water_level', 'quality_flag']

In [2]:
# Remove other files that are not related to above process

# Check if folder exists and only contains CPY015.csv, remove other files
for sub_folder in sub_folders:
    # Check if the folder exists first
    if os.path.exists(sub_folder):
        try:
            files_in_folder = os.listdir(sub_folder)
            for file in files_in_folder:
                if file != 'CPY015.csv':
                    file_path = os.path.join(sub_folder, file)
                    try:
                        os.remove(file_path)
                        print(f"Removed unrelated file: {file_path}")
                    except Exception as e:
                        print(f"Error removing file {file_path}: {e}")
            print(f"Checked files in: {sub_folder}")
        except Exception as e:
            print(f"Error accessing folder {sub_folder}: {e}")
    else:
        print(f"Folder does not exist: {sub_folder}")

print("Cleanup complete.")

Checked files in: ./datasets/2019/201901
Checked files in: ./datasets/2019/201902
Checked files in: ./datasets/2019/201903
Checked files in: ./datasets/2019/201904
Checked files in: ./datasets/2019/201905
Checked files in: ./datasets/2019/201906
Checked files in: ./datasets/2019/201907
Checked files in: ./datasets/2019/201908
Checked files in: ./datasets/2019/201909
Checked files in: ./datasets/2019/201910
Checked files in: ./datasets/2019/201911
Checked files in: ./datasets/2019/201912
Checked files in: ./datasets/2020/202001
Checked files in: ./datasets/2020/202002
Checked files in: ./datasets/2020/202003
Checked files in: ./datasets/2020/202004
Checked files in: ./datasets/2020/202005
Checked files in: ./datasets/2020/202006
Checked files in: ./datasets/2020/202007
Checked files in: ./datasets/2020/202008
Checked files in: ./datasets/2020/202009
Checked files in: ./datasets/2020/202010
Checked files in: ./datasets/2020/202011
Checked files in: ./datasets/2020/202012
Checked files in: ./datasets/2021/202101
Checked files in: ./datasets/2021/202102
Checked files in: ./datasets/2021/202103
Checked files in: ./datasets/2021/202104
Checked files in: ./datasets/2021/202105
Checked files in: ./datasets/2021/202106
Checked files in: ./datasets/2021/202107
Checked files in: ./datasets/2021/202108
Checked files in: ./datasets/2021/202109
Checked files in: ./datasets/2021/202110
Checked files in: ./datasets/2021/202111
Checked files in: ./datasets/2021/202112
Checked files in: ./datasets/2022/202201
Checked files in: ./datasets/2022/202202
Checked files in: ./datasets/2022/202203
Checked files in: ./datasets/2022/202204
Checked files in: ./datasets/2022/202205
Checked files in: ./datasets/2022/202206
Checked files in: ./datasets/2022/202207
Checked files in: ./datasets/2022/202208
Checked files in: ./datasets/2022/202209
Checked files in: ./datasets/2022/202210
Checked files in: ./datasets/2022/202211
Checked files in: ./datasets/2022/202212
Checked files in: ./datasets/2023/202301
Checked files in: ./datasets/2023/202302
Checked files in: ./datasets/2023/202303
Checked files in: ./datasets/2023/202304
Checked files in: ./datasets/2023/202305
Checked files in: ./datasets/2023/202306
Checked files in: ./datasets/2023/202307
Checked files in: ./datasets/2023/202308
Checked files in: ./datasets/2023/202309
Checked files in: ./datasets/2023/202310
Checked files in: ./datasets/2023/202311
Checked files in: ./datasets/2023/202312
Checked files in: ./datasets/2024/202401
Checked files in: ./datasets/2024/202402
Checked files in: ./datasets/2024/202403
Checked files in: ./datasets/2024/202404
Checked files in: ./datasets/2024/202405
Checked files in: ./datasets/2024/202406
Checked files in: ./datasets/2024/202407
Checked files in: ./datasets/2024/202408
Checked files in: ./datasets/2024/202409
Checked files in: ./datasets/2024/202410
Checked files in: ./datasets/2024/202411
Checked files in: ./datasets/2024/202412
Checked files in: ./datasets/2025/202501
Checked files in: ./datasets/2025/202502
Checked files in: ./datasets/2025/202503
Checked files in: ./datasets/2025/202504
Checked files in: ./datasets/2025/202505
Folder does not exist: ./datasets/2025/202506
Folder does not exist: ./datasets/2025/202507
Folder does not exist: ./datasets/2025/202508
Folder does not exist: ./datasets/2025/202509
Folder does not exist: ./datasets/2025/202510
Folder does not exist: ./datasets/2025/202511
Folder does not exist: ./datasets/2025/202512
Cleanup complete.

In [3]:
# Clean the data of master_CPY015.csv

# Read with low_memory=False to avoid dtype warnings
df_master = pd.read_csv("master_CPY015.csv", low_memory=False)
print("Original data info:")
df_master.info()
print(f"\nOriginal shape: {df_master.shape}")
print(f"\nColumn names: {df_master.columns.tolist()}")

# Display sample data to understand the structure
print(f"\nFirst 5 rows:")
print(df_master.head())
print(f"\nLast 5 rows:")
print(df_master.tail())

# Check for different data formats by looking at non-null patterns
print(f"\nData format analysis:")
print("Rows with old format (date, time, water_lv):", df_master[['date', 'time', 'water_lv']].dropna().shape[0])
print("Rows with new format (station_code, measure_datetime, water_level):", df_master[['station_code', 'measure_datetime', 'water_level']].dropna().shape[0])

# Check unique values in some columns
print(f"\nUnique station codes: {df_master['station_code'].dropna().unique()}")
print(f"Water_lv data type examples: {df_master['water_lv'].dropna().head()}")
print(f"Water_level data type examples: {df_master['water_level'].dropna().head()}")

# Check date formats
print(f"\nDate format examples:")
print("date column:", df_master['date'].dropna().head(3).tolist())
print("measure_datetime column:", df_master['measure_datetime'].dropna().head(3).tolist())

Original data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337392 entries, 0 to 337391
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              289152 non-null  object
 1   time              289152 non-null  object
 2   water_lv          289152 non-null  object
 3   station_code      48240 non-null   object
 4   measure_datetime  48240 non-null   object
 5   water_level       48061 non-null   float64
 6   quality_flag      48061 non-null   object
dtypes: float64(1), object(6)
memory usage: 18.0+ MB

Original shape: (337392, 7)

Column names: ['date', 'time', 'water_lv', 'station_code', 'measure_datetime', 'water_level', 'quality_flag']

First 5 rows:
         date      time water_lv station_code measure_datetime  water_level  \
0  2019-01-01  00:00:00     0.59          NaN              NaN          NaN
1  2019-01-01  00:10:00     0.59          NaN              NaN          NaN
2  2019-01-01  00:20:00     0.61          NaN              NaN          NaN
3  2019-01-01  00:30:00     0.63          NaN              NaN          NaN
4  2019-01-01  00:40:00     0.65          NaN              NaN          NaN

  quality_flag
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

Last 5 rows:
       date time water_lv station_code     measure_datetime  water_level  \
337387  NaN  NaN      NaN       CPY015  2025-05-31 23:10:00         1.63
337388  NaN  NaN      NaN       CPY015  2025-05-31 23:20:00         1.62
337389  NaN  NaN      NaN       CPY015  2025-05-31 23:30:00         1.60
337390  NaN  NaN      NaN       CPY015  2025-05-31 23:40:00         1.60
337391  NaN  NaN      NaN       CPY015  2025-05-31 23:50:00         1.60

       quality_flag
337387            N
337388            N
337389            N
337390            N
337391            N

Data format analysis:
Rows with old format (date, time, water_lv): 289152
Rows with new format (station_code, measure_datetime, water_level): 48061

Unique station codes: ['CPY015']
Water_lv data type examples: 0    0.59
1    0.59
2    0.61
3    0.63
4    0.65
Name: water_lv, dtype: object
Water_level data type examples: 289152    0.91
289153    0.86
289154    0.84
289155    0.87
289156    0.91
Name: water_level, dtype: float64

Date format examples:
date column: ['2019-01-01', '2019-01-01', '2019-01-01']
measure_datetime column: ['2024-07-01 00:00:00', '2024-07-01 00:10:00', '2024-07-01 00:20:00']

In [4]:
df_master.isna().sum()

date                 48240
time                 48240
water_lv             48240
station_code        289152
measure_datetime    289152
water_level         289331
quality_flag        289331
dtype: int64

In [5]:
# Comprehensive data cleaning and standardization

import pandas as pd
import numpy as np
from datetime import datetime

# Create a copy for cleaning
df_clean = df_master.copy()

print("=== STEP 1: Separate and standardize different data formats ===")

# Identify old format data (has date, time, water_lv)
old_format_mask = df_clean[['date', 'time', 'water_lv']].notnull().all(axis=1)
old_format_data = df_clean[old_format_mask].copy()

# Identify new format data (has station_code, measure_datetime, water_level)
new_format_mask = df_clean[['station_code', 'measure_datetime', 'water_level']].notnull().all(axis=1)
new_format_data = df_clean[new_format_mask].copy()

print(f"Old format rows: {len(old_format_data)}")
print(f"New format rows: {len(new_format_data)}")

# Standardize old format data
if len(old_format_data) > 0:
    print("\n=== STEP 2: Processing old format data ===")
    
    # Combine date and time columns for old format
    old_format_data['datetime_combined'] = pd.to_datetime(
        old_format_data['date'] + ' ' + old_format_data['time'], 
        errors='coerce'
    )
    
    # Convert water_lv to numeric (it might be stored as string)
    old_format_data['water_level_clean'] = pd.to_numeric(old_format_data['water_lv'], errors='coerce')
    
    # Add station code (assuming all data is from CPY015)
    old_format_data['station_code_clean'] = 'CPY015'
    
    # Create standardized dataframe for old format
    old_standardized = pd.DataFrame({
        'station_code': old_format_data['station_code_clean'],
        'measure_datetime': old_format_data['datetime_combined'],
        'water_level': old_format_data['water_level_clean'],
        'quality_flag': 'old_format',  # Mark as old format
        'source_format': 'old'
    })
    
    print(f"Old format after processing: {len(old_standardized)} rows")
    print(f"Valid datetime records: {old_standardized['measure_datetime'].notnull().sum()}")
    print(f"Valid water level records: {old_standardized['water_level'].notnull().sum()}")

# Standardize new format data
if len(new_format_data) > 0:
    print("\n=== STEP 3: Processing new format data ===")
    
    # Convert measure_datetime to proper datetime
    new_format_data['datetime_clean'] = pd.to_datetime(new_format_data['measure_datetime'], errors='coerce')
    
    # Create standardized dataframe for new format
    new_standardized = pd.DataFrame({
        'station_code': new_format_data['station_code'],
        'measure_datetime': new_format_data['datetime_clean'],
        'water_level': new_format_data['water_level'],
        'quality_flag': new_format_data['quality_flag'],
        'source_format': 'new'
    })
    
    print(f"New format after processing: {len(new_standardized)} rows")
    print(f"Valid datetime records: {new_standardized['measure_datetime'].notnull().sum()}")
    print(f"Valid water level records: {new_standardized['water_level'].notnull().sum()}")

print("\n=== STEP 4: Combine and clean final dataset ===")

# Combine both formats
dataframes_to_combine = []
if len(old_format_data) > 0:
    dataframes_to_combine.append(old_standardized)
if len(new_format_data) > 0:
    dataframes_to_combine.append(new_standardized)

if dataframes_to_combine:
    df_combined = pd.concat(dataframes_to_combine, ignore_index=True)
else:
    df_combined = pd.DataFrame(columns=['station_code', 'measure_datetime', 'water_level', 'quality_flag', 'source_format'])

print(f"Combined data shape: {df_combined.shape}")

# Remove rows with missing essential data
df_final = df_combined.copy()

# Remove duplicate records (same datetime and station)
df_final = df_final.drop_duplicates(subset=['station_code', 'measure_datetime'], keep='first')
print(f"After removing duplicates: {df_final.shape}")

# Sort by datetime
df_final = df_final.sort_values('measure_datetime').reset_index(drop=True)

# Add additional time-based columns for analysis
df_final['year'] = df_final['measure_datetime'].dt.year
df_final['month'] = df_final['measure_datetime'].dt.month
df_final['day'] = df_final['measure_datetime'].dt.day
df_final['hour'] = df_final['measure_datetime'].dt.hour

print("\n=== STEP 5: Data quality summary ===")
print(f"Final clean dataset shape: {df_final.shape}")
print(f"Date range: {df_final['measure_datetime'].min()} to {df_final['measure_datetime'].max()}")
print(f"Water level range: {df_final['water_level'].min():.2f} to {df_final['water_level'].max():.2f}")
print(f"Years covered: {sorted(df_final['year'].unique())}")
print(f"Data by source format:")
print(df_final['source_format'].value_counts())

print(f"\nFirst 5 rows of cleaned data:")
print(df_final.head())

# Save cleaned data
df_final.to_csv('master_CPY015_cleaned.csv', index=False)
print(f"\nCleaned data saved to: master_CPY015_cleaned.csv")

=== STEP 1: Separate and standardize different data formats ===
Old format rows: 289152
New format rows: 48061

=== STEP 2: Processing old format data ===
Old format after processing: 289152 rows
Valid datetime records: 289152
Valid water level records: 272804

=== STEP 3: Processing new format data ===
New format after processing: 48061 rows
Valid datetime records: 48061
Valid water level records: 48061

=== STEP 4: Combine and clean final dataset ===
Combined data shape: (337213, 5)
After removing duplicates: (337213, 5)

=== STEP 5: Data quality summary ===
Final clean dataset shape: (337213, 9)
Date range: 2019-01-01 00:00:00 to 2025-05-31 23:50:00
Water level range: -26.39 to 11.54
Years covered: [np.int32(2019), np.int32(2020), np.int32(2021), np.int32(2022), np.int32(2023), np.int32(2024), np.int32(2025)]
Data by source format:
source_format
old    289152
new     48061
Name: count, dtype: int64

First 5 rows of cleaned data:
  station_code    measure_datetime  water_level quality_flag source_format  \
0       CPY015 2019-01-01 00:00:00         0.59   old_format           old
1       CPY015 2019-01-01 00:10:00         0.59   old_format           old
2       CPY015 2019-01-01 00:20:00         0.61   old_format           old
3       CPY015 2019-01-01 00:30:00         0.63   old_format           old
4       CPY015 2019-01-01 00:40:00         0.65   old_format           old

   year  month  day  hour
0  2019      1    1     0
1  2019      1    1     0
2  2019      1    1     0
3  2019      1    1     0
4  2019      1    1     0

Cleaned data saved to: master_CPY015_cleaned.csv

In [6]:
# Display cleaned data header
display(df_final.shape)
df_final.head()

(337213, 9)

,station_code,measure_datetime,water_level,quality_flag,source_format,year,month,day,hour
0,CPY015,2019-01-01 00:00:00,0.59,old_format,old,2019,1,1,0
1,CPY015,2019-01-01 00:10:00,0.59,old_format,old,2019,1,1,0
2,CPY015,2019-01-01 00:20:00,0.61,old_format,old,2019,1,1,0
3,CPY015,2019-01-01 00:30:00,0.63,old_format,old,2019,1,1,0
4,CPY015,2019-01-01 00:40:00,0.65,old_format,old,2019,1,1,0

In [7]:
# Check for missing values
missing_values = df_final.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
station_code            0
measure_datetime        0
water_level         16348
quality_flag            0
source_format           0
year                    0
month                   0
day                     0
hour                    0
dtype: int64

In [8]:
# Display water_level missing values dataset
df[df['water_level'].isna()]

     station_code     measure_datetime  water_level quality_flag
574        CPY015  2025-05-04 23:40:00          NaN          NaN
774        CPY015  2025-05-06 09:00:00          NaN          NaN
790        CPY015  2025-05-06 11:40:00          NaN          NaN
821        CPY015  2025-05-06 16:50:00          NaN          NaN
1157       CPY015  2025-05-09 00:50:00          NaN          NaN
1282       CPY015  2025-05-09 21:40:00          NaN          NaN
1711       CPY015  2025-05-12 21:10:00          NaN          NaN
1971       CPY015  2025-05-14 16:30:00          NaN          NaN
2852       CPY015  2025-05-20 19:20:00          NaN          NaN
3038       CPY015  2025-05-22 02:20:00          NaN          NaN
3047       CPY015  2025-05-22 03:50:00          NaN          NaN
3058       CPY015  2025-05-22 05:40:00          NaN          NaN
3063       CPY015  2025-05-22 06:30:00          NaN          NaN
3065       CPY015  2025-05-22 06:50:00          NaN          NaN
3066       CPY015  2025-05-22 07:00:00          NaN          NaN
3069       CPY015  2025-05-22 07:30:00          NaN          NaN
3070       CPY015  2025-05-22 07:40:00          NaN          NaN
3072       CPY015  2025-05-22 08:00:00          NaN          NaN
3075       CPY015  2025-05-22 08:30:00          NaN          NaN
3077       CPY015  2025-05-22 08:50:00          NaN          NaN
3079       CPY015  2025-05-22 09:10:00          NaN          NaN
3081       CPY015  2025-05-22 09:30:00          NaN          NaN
3082       CPY015  2025-05-22 09:40:00          NaN          NaN
3084       CPY015  2025-05-22 10:00:00          NaN          NaN
3085       CPY015  2025-05-22 10:10:00          NaN          NaN
3087       CPY015  2025-05-22 10:30:00          NaN          NaN
3089       CPY015  2025-05-22 10:50:00          NaN          NaN
3092       CPY015  2025-05-22 11:20:00          NaN          NaN
3095       CPY015  2025-05-22 11:50:00          NaN          NaN
3103       CPY015  2025-05-22 13:10:00          NaN          NaN
3104       CPY015  2025-05-22 13:20:00          NaN          NaN
3107       CPY015  2025-05-22 13:50:00          NaN          NaN
3110       CPY015  2025-05-22 14:20:00          NaN          NaN
3113       CPY015  2025-05-22 14:50:00          NaN          NaN
3129       CPY015  2025-05-22 17:30:00          NaN          NaN
3705       CPY015  2025-05-26 17:30:00          NaN          NaN
3792       CPY015  2025-05-27 08:00:00          NaN          NaN
3958       CPY015  2025-05-28 11:40:00          NaN          NaN
4095       CPY015  2025-05-29 10:30:00          NaN          NaN

In [9]:
# Fill the null value with the ffill
df_final['water_level'].fillna(method='ffill', inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_4164\1151963136.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['water_level'].fillna(method='ffill', inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_4164\1151963136.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_final['water_level'].fillna(method='ffill', inplace=True)

In [10]:
# Data quality assessment and basic analysis

print("=== DETAILED DATA QUALITY REPORT ===")

# Check for missing values
print(f"\nMissing values:")
print(df_final.isnull().sum())

# Check data distribution by year and month
print(f"\nData distribution by year:")
year_counts = df_final['year'].value_counts().sort_index()
print(year_counts)

print(f"\nData distribution by month:")
month_counts = df_final['month'].value_counts().sort_index()
print(month_counts)

# Check for outliers in water level
print(f"\nWater level statistics:")
print(df_final['water_level'].describe())

# Check time frequency (should be mostly 10-minute intervals)
df_final_sorted = df_final.sort_values('measure_datetime')
time_diffs = df_final_sorted['measure_datetime'].diff()
print(f"\nTime interval analysis:")
print(f"Most common intervals:")
print(time_diffs.value_counts().head())

# Check for data gaps
print(f"\nData completeness by year:")
for year in sorted(df_final['year'].unique()):
    year_data = df_final[df_final['year'] == year]
    print(f"{year}: {len(year_data):,} records")
    
# Basic statistics
print(f"\n=== SUMMARY STATISTICS ===")
print(f"Total records: {len(df_final):,}")
print(f"Date range: {df_final['measure_datetime'].min()} to {df_final['measure_datetime'].max()}")
print(f"Average water level: {df_final['water_level'].mean():.2f} meters")
print(f"Water level std dev: {df_final['water_level'].std():.2f} meters")
print(f"Data spans {(df_final['measure_datetime'].max() - df_final['measure_datetime'].min()).days} days")

print(f"\n=== CLEANED DATA IS READY FOR ANALYSIS ===")
print(f"Use 'df_final' variable for further analysis")
print(f"Cleaned file saved as: 'master_CPY015_cleaned.csv'")

=== DETAILED DATA QUALITY REPORT ===

Missing values:
station_code        0
measure_datetime    0
water_level         0
quality_flag        0
source_format       0
year                0
month               0
day                 0
hour                0
dtype: int64

Data distribution by year:
year
2019    52560
2020    52704
2021    52560
2022    52560
2023    52560
2024    52608
2025    21661
Name: count, dtype: int64

Data distribution by month:
month
1     31238
2     28500
3     31234
4     30232
5     31209
6     25920
7     26771
8     26766
9     25904
10    26765
11    25903
12    26771
Name: count, dtype: int64

Water level statistics:
count    337213.000000
mean          0.390197
std           0.706950
min         -26.390000
25%          -0.090000
50%           0.510000
75%           0.900000
max          11.540000
Name: water_level, dtype: float64

Time interval analysis:
Most common intervals:
measure_datetime
0 days 00:10:00    337040
0 days 00:20:00       165
0 days 00:30:00         7
Name: count, dtype: int64

Data completeness by year:
2019: 52,560 records
2020: 52,704 records
2021: 52,560 records
2022: 52,560 records
2023: 52,560 records
2024: 52,608 records
2025: 21,661 records

=== SUMMARY STATISTICS ===
Total records: 337,213
Date range: 2019-01-01 00:00:00 to 2025-05-31 23:50:00
Average water level: 0.39 meters
Water level std dev: 0.71 meters
Data spans 2342 days

=== CLEANED DATA IS READY FOR ANALYSIS ===
Use 'df_final' variable for further analysis
Cleaned file saved as: 'master_CPY015_cleaned.csv'

In [11]:
df_final.head()

,station_code,measure_datetime,water_level,quality_flag,source_format,year,month,day,hour
0,CPY015,2019-01-01 00:00:00,0.59,old_format,old,2019,1,1,0
1,CPY015,2019-01-01 00:10:00,0.59,old_format,old,2019,1,1,0
2,CPY015,2019-01-01 00:20:00,0.61,old_format,old,2019,1,1,0
3,CPY015,2019-01-01 00:30:00,0.63,old_format,old,2019,1,1,0
4,CPY015,2019-01-01 00:40:00,0.65,old_format,old,2019,1,1,0

In [12]:
df = df_final.copy()
# Remove station_code column if exists
if 'station_code' in df.columns:
    df = df.drop(columns=['station_code'])

# Change index to measure_datetime
if not np.issubdtype(df['measure_datetime'].dtype, np.datetime64):
    df['measure_datetime'] = pd.to_datetime(df['measure_datetime'], errors='coerce')
df = df.set_index('measure_datetime')

In [13]:
df.head()

,water_level,quality_flag,source_format,year,month,day,hour
measure_datetime,,,,,,,
2019-01-01 00:00:00,0.59,old_format,old,2019,1,1,0
2019-01-01 00:10:00,0.59,old_format,old,2019,1,1,0
2019-01-01 00:20:00,0.61,old_format,old,2019,1,1,0
2019-01-01 00:30:00,0.63,old_format,old,2019,1,1,0
2019-01-01 00:40:00,0.65,old_format,old,2019,1,1,0

In [14]:
df_water = df['water_level']

In [15]:
df_water.head()

measure_datetime
2019-01-01 00:00:00    0.59
2019-01-01 00:10:00    0.59
2019-01-01 00:20:00    0.61
2019-01-01 00:30:00    0.63
2019-01-01 00:40:00    0.65
Name: water_level, dtype: float64

In [16]:
# Save water level series to CSV
df_water.to_csv('water_level_series.csv', header=['water_level'], index_label='measure_datetime')
print("Water level series saved to 'water_level_series.csv'")

Water level series saved to 'water_level_series.csv'

In [17]:
# Resample to hourly frequency (mean)
df_hourly = df_water.resample('H').mean()
df_hourly.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_4164\1265272697.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_hourly = df_water.resample('H').mean()

measure_datetime
2019-01-01 00:00:00    0.621667
2019-01-01 01:00:00    0.723333
2019-01-01 02:00:00    0.713333
2019-01-01 03:00:00    0.695000
2019-01-01 04:00:00    0.633333
Freq: h, Name: water_level, dtype: float64

In [18]:
# Request data from open-meteo.com API for weather data
import requests
import pandas as pd
import numpy as np
import pprint

# Define API Endpoint for Past Temperature (URL)
url_1 = "https://archive-api.open-meteo.com/v1/archive"

# Define query parameters
params_1 = {
    "latitude": 13.700287,
    "longitude": 100.492805,
    "hourly": ["temperature_2m", "rain", "showers", "cloud_cover", "relative_humidity_2m", "dew_point_2m", "precipitation", "weather_code", "pressure_msl", "surface_pressure", "wind_speed_10m", "wind_direction_10m", "wind_gusts_10m", "et0_fao_evapotranspiration"],
    "start_date": "2019-01-01",
    "end_date": "2025-05-31",
    "timezone": "Asia/Bangkok"
}

# Make the GET request and assign the response to "r_1"
r_1 = requests.get(url_1, params=params_1, timeout=15) 
r_1.raise_for_status()
js_1 = r_1.json() # transform to JSON response

# Make it dataframe
df_weather = pd.DataFrame(js_1['hourly'])
df_weather['time'] = pd.to_datetime(df_weather['time'])
df_weather = df_weather.set_index('time')

In [19]:
df_weather.head()

,temperature_2m,rain,showers,cloud_cover,relative_humidity_2m,dew_point_2m,precipitation,weather_code,pressure_msl,surface_pressure,wind_speed_10m,wind_direction_10m,wind_gusts_10m,et0_fao_evapotranspiration
time,,,,,,,,,,,,,,
2019-01-01 00:00:00,23.5,0.0,0.0,2,65,16.6,0.0,0,1017.1,1017.0,6.9,43,11.2,0.03
2019-01-01 01:00:00,22.7,0.0,0.0,1,68,16.4,0.0,0,1016.7,1016.6,6.6,22,10.8,0.02
2019-01-01 02:00:00,22.0,0.0,0.0,2,75,17.3,0.0,0,1016.5,1016.4,6.0,25,10.4,0.01
2019-01-01 03:00:00,21.4,0.0,0.0,2,80,17.8,0.0,0,1016.1,1016.0,5.3,28,9.4,0.00
2019-01-01 04:00:00,20.7,0.0,0.0,1,86,18.3,0.0,0,1015.8,1015.7,7.2,18,8.6,0.00

In [20]:
df_weather.isna().sum()

temperature_2m                0
rain                          0
showers                       0
cloud_cover                   0
relative_humidity_2m          0
dew_point_2m                  0
precipitation                 0
weather_code                  0
pressure_msl                  0
surface_pressure              0
wind_speed_10m                0
wind_direction_10m            0
wind_gusts_10m                0
et0_fao_evapotranspiration    0
dtype: int64

In [21]:
# Check the shape of both datasets
print(f"Water level series shape: {df_hourly.shape}")
print(f"Weather data shape: {df_weather.shape}")

Water level series shape: (56232,)
Weather data shape: (56232, 14)

In [22]:
# Merge water level and weather data on datetime index
df_merged = pd.merge(df_hourly, df_weather, left_index=True, right_index=True, how='inner')
df_merged.head()

,water_level,temperature_2m,rain,showers,cloud_cover,relative_humidity_2m,dew_point_2m,precipitation,weather_code,pressure_msl,surface_pressure,wind_speed_10m,wind_direction_10m,wind_gusts_10m,et0_fao_evapotranspiration
measure_datetime,,,,,,,,,,,,,,,
2019-01-01 00:00:00,0.621667,23.5,0.0,0.0,2,65,16.6,0.0,0,1017.1,1017.0,6.9,43,11.2,0.03
2019-01-01 01:00:00,0.723333,22.7,0.0,0.0,1,68,16.4,0.0,0,1016.7,1016.6,6.6,22,10.8,0.02
2019-01-01 02:00:00,0.713333,22.0,0.0,0.0,2,75,17.3,0.0,0,1016.5,1016.4,6.0,25,10.4,0.01
2019-01-01 03:00:00,0.695000,21.4,0.0,0.0,2,80,17.8,0.0,0,1016.1,1016.0,5.3,28,9.4,0.00
2019-01-01 04:00:00,0.633333,20.7,0.0,0.0,1,86,18.3,0.0,0,1015.8,1015.7,7.2,18,8.6,0.00

In [23]:
# Request data from open-meteo.com API for flood data
# Define API Endpoint for Past Temperature (URL)
url_2 = "https://flood-api.open-meteo.com/v1/flood"

# Define query parameters
params_2 = {
	"latitude": 13.700287,
	"longitude": 100.492805,
	"daily": "river_discharge",
    "start_date": "2019-01-01",
    "end_date": "2025-05-31",
    "timezone": "Asia/Bangkok"
}

# Make the GET request and assign the response to "r_1"
r_2 = requests.get(url_2, params=params_2, timeout=15) 
r_2.raise_for_status()
js_2 = r_2.json() # transform to JSON response

# Make it dataframe
df_flood = pd.DataFrame(js_2['daily'])
df_flood['time'] = pd.to_datetime(df_flood['time'])
df_flood = df_flood.set_index('time')

# Display flood data
df_flood.head()

            river_discharge
time
2019-01-01          1131.40
2019-01-02          1139.25
2019-01-03          1144.51
2019-01-04          1139.25
2019-01-05           953.99

In [24]:
# Resample to hourly frequency for flood data
# Ensure daily DateTimeIndex and sort
s = df_flood["river_discharge"].sort_index().asfreq("D")

# Build an hourly index that reaches the last day's 23:00
hidx = pd.date_range(s.index.min(),
                     s.index.max() + pd.Timedelta(hours=23),
                     freq="H")

# Interpolate only inside the known span; then carry the last day's value across its remaining hours
df_flood_hourly = (
    s.reindex(hidx)
     .interpolate(method="time", limit_area="inside")
     .ffill(limit=23)                                  # fills 01:0023:00 of the last day only
     .to_frame(name="river_discharge")
)
print(f"Shape of flood data after resampling to hourly: {df_flood_hourly.shape}")
df_flood_hourly.head()

Shape of flood data after resampling to hourly: (56232, 1)

C:\Users\USER\AppData\Local\Temp\ipykernel_4164\1819921379.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hidx = pd.date_range(s.index.min(),

                     river_discharge
2019-01-01 00:00:00      1131.400000
2019-01-01 01:00:00      1131.727083
2019-01-01 02:00:00      1132.054167
2019-01-01 03:00:00      1132.381250
2019-01-01 04:00:00      1132.708333

In [25]:
# Merge water level, weather, flood data on datetime index
df_full_merged = df_merged.merge(df_flood_hourly, left_index=True, right_index=True, how="outer", suffixes=("_weather", "_flood"))
print(f"Shape of the full merge: {df_full_merged.shape}")
df_full_merged.head()

Shape of the full merge: (56232, 16)

,water_level,temperature_2m,rain,showers,cloud_cover,relative_humidity_2m,dew_point_2m,precipitation,weather_code,pressure_msl,surface_pressure,wind_speed_10m,wind_direction_10m,wind_gusts_10m,et0_fao_evapotranspiration,river_discharge
measure_datetime,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,0.621667,23.5,0.0,0.0,2,65,16.6,0.0,0,1017.1,1017.0,6.9,43,11.2,0.03,1131.400000
2019-01-01 01:00:00,0.723333,22.7,0.0,0.0,1,68,16.4,0.0,0,1016.7,1016.6,6.6,22,10.8,0.02,1131.727083
2019-01-01 02:00:00,0.713333,22.0,0.0,0.0,2,75,17.3,0.0,0,1016.5,1016.4,6.0,25,10.4,0.01,1132.054167
2019-01-01 03:00:00,0.695000,21.4,0.0,0.0,2,80,17.8,0.0,0,1016.1,1016.0,5.3,28,9.4,0.00,1132.381250
2019-01-01 04:00:00,0.633333,20.7,0.0,0.0,1,86,18.3,0.0,0,1015.8,1015.7,7.2,18,8.6,0.00,1132.708333

In [26]:
df_full_merged.isna().sum()

water_level                   0
temperature_2m                0
rain                          0
showers                       0
cloud_cover                   0
relative_humidity_2m          0
dew_point_2m                  0
precipitation                 0
weather_code                  0
pressure_msl                  0
surface_pressure              0
wind_speed_10m                0
wind_direction_10m            0
wind_gusts_10m                0
et0_fao_evapotranspiration    0
river_discharge               0
dtype: int64

In [27]:
# Export full merged dataset to .csv
df_full_merged.to_csv('full_merged.csv')

In [28]:
# Display dataset that contain missing values
df_full_merged[df_full_merged.isna().any(axis=1)]

Empty DataFrame
Columns: [water_level, temperature_2m, rain, showers, cloud_cover, relative_humidity_2m, dew_point_2m, precipitation, weather_code, pressure_msl, surface_pressure, wind_speed_10m, wind_direction_10m, wind_gusts_10m, et0_fao_evapotranspiration, river_discharge]
Index: []

In [29]:

df_hourly.head()

measure_datetime
2019-01-01 00:00:00    0.621667
2019-01-01 01:00:00    0.723333
2019-01-01 02:00:00    0.713333
2019-01-01 03:00:00    0.695000
2019-01-01 04:00:00    0.633333
Freq: h, Name: water_level, dtype: float64

In [30]:
# Resample to daily frequency for full merge(mean)
df_full_merged_daily = df_full_merged.resample('D').mean()
df_full_merged_daily.head()

,water_level,temperature_2m,rain,showers,cloud_cover,relative_humidity_2m,dew_point_2m,precipitation,weather_code,pressure_msl,surface_pressure,wind_speed_10m,wind_direction_10m,wind_gusts_10m,et0_fao_evapotranspiration,river_discharge
measure_datetime,,,,,,,,,,,,,,,,
2019-01-01,0.647222,24.200000,0.000000,0.0,55.875000,65.875000,17.191667,0.000000,1.666667,1016.187500,1016.087500,6.916667,70.333333,14.545833,0.169583,1135.161458
2019-01-02,0.692986,24.195833,0.000000,0.0,86.708333,63.041667,16.504167,0.000000,2.625000,1015.558333,1015.458333,7.358333,138.000000,15.433333,0.172917,1141.770417
2019-01-03,0.515486,25.362500,0.000000,0.0,83.416667,56.916667,16.162500,0.000000,2.583333,1015.370833,1015.270833,12.512500,183.375000,23.650000,0.189167,1141.989583
2019-01-04,0.797917,24.812500,0.125000,0.0,99.958333,70.916667,19.008333,0.125000,11.666667,1014.475000,1014.375000,8.550000,93.333333,16.150000,0.099583,1050.479583
2019-01-05,1.155833,24.516667,0.179167,0.0,100.000000,75.375000,19.812500,0.179167,15.666667,1013.595833,1013.495833,11.662500,211.250000,22.833333,0.085833,809.348750

In [31]:
df_full_merged_daily.shape

(2343, 16)

In [32]:
# save to csv
df_full_merged_daily.to_csv('full_merged_daily.csv')

In [33]:
# Remove not related .csv filename
os.remove('master_CPY015.csv')
os.remove('water_level_series.csv')
os.remove('master_CPY015_cleaned.csv')

print("Shape of full_merged_daily:", df_full_merged_daily.shape)
print("Shape of full_merged:", df_full_merged.shape)

Shape of full_merged_daily: (2343, 16)
Shape of full_merged: (56232, 16)